---
layout: default
---

<div class="header-bar">
  <h1><a href="{{ site.blog_external_url }}" target="_blank">{{ site.blog_name }}</a></h1>
  <h2>{{ site.blog_description }}</h2>
</div>


<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h2><a class="post-title" href="{{ post.external_url }}" target="_blank">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
      <!-- <p>{{ post.description }}</p> -->
    </li>
  {% endfor %}
</ul>

{% include pagination.html %}
